#!/bin/sh
# husky

# Hook created by Husky
#   Version: 1.3.1
#   At: 2019-2-27 15:56:54
#   See: https://github.com/typicode/husky#readme

# From npm package
#   Name: husky
#   Directory: /Users/mpowell/Dev/git-hooks-workshop/node_modules/husky
#   Homepage: https://github.com/typicode/husky#readme

scriptPath="node_modules/husky/run.js"
hookName=`basename "$0"`
gitParams="$*"
protected_branch='master'
current_branch=$(git symbolic-ref HEAD | sed -e 's,.*/\(.*\),\1,')

# Define colors
yellow='\033[0;33m'
red='\033[0;31m'
green='\033[0;32m'
no_color='\033[0m'


debug() {
  [ "${HUSKY_DEBUG}" = "true" ] && echo "husky:debug $1"
}

debug "$hookName hook started..."

if ! command -v node >/dev/null 2>&1; then
  echo "Can't find node in PATH, trying to find a node binary on your system"
fi

if [ $protected_branch = $current_branch ]; then
    echo "${yellow}You're about to push to $protected_branch, is that what you intended? [y|n] ${no_color}" 
    read  < /dev/tty 
    if echo $REPLY | grep -E '[^Yy]$' > /dev/null; then
        echo "${red}This commit has been aborted.${no_color}"
        exit 1 # push will not execute if there is not explicit yes
    else 
      echo "${green}This commit is proceeding...${no_color}"
      # exit 0
    fi
fi

if [ -f "$scriptPath" ]; then
  # if [ -t 1 ]; then
  #   exec < /dev/tty
  # fi
  if [ -f ~/.huskyrc ]; then
    debug "source ~/.huskyrc"
    source ~/.huskyrc
  fi
  node_modules/run-node/run-node "$scriptPath" $hookName "$gitParams"
else
  echo "Can't find Husky, skipping $hookName hook"
  echo "You can reinstall it using 'npm install husky --save-dev' or delete this hook"
fi